<div class="dashboard-container">
  <div class="header">
    <img src="assets/image/logo.png" alt="Logo ESPRIT" class="logo" />

    <h1>Welcome, Director of Studies</h1>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>
  <div class="powerbi-container">
    <iframe 
      title="Project_Esprit_Pi - Copie3"  
      src="https://app.powerbi.com/reportEmbed?reportId=9c019883-8ca6-4dc8-995b-aae3b922af5e&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&navContentPaneEnabled=false" 
      frameborder="0" 
      allowFullScreen="true"
    ></iframe>
  </div>
  



   