<div class="dashboard-container">
  <div class="header">
    <img src="assets/image/logo.png" alt="Logo ESPRIT" class="logo" />

    <h1>Welcome, Head of Employability and Quality Management</h1>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>

  <div class="powerbi-container">
    <iframe 
  title="Project_Esprit_Pi - Copie1" 
  src="https://app.powerbi.com/reportEmbed?reportId=573b35e5-7c2f-482c-95ab-344fb44543ab&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&navContentPaneEnabled=false" 
  frameborder="0" 
  allowFullScreen="true"
></iframe>

  </div>
</div>
